.warning-fold {
  margin: 1em 0;
  padding: 10px;
  border: 1px solid #d32f2f;
  background-color: #ffebee;
  border-radius: 5px;
}

.warning-fold > summary {
  cursor: pointer;
  font-weight: bold;
  color: #d32f2f !important;
}

.warning-fold[open] > summary {
  background-color: #ffebee !important;
  color: #b71c1c !important;
}

.warning-fold > div {
  margin-top: 10px;
  color: #b71c1c;
}

.warning-fold summary::marker {
  content: "➕ ";
  font-size: 1.2em;
}

.warning-fold[open] summary::marker {
  content: "➖ ";
  font-size: 1.2em;
}
