.warning-fold {
  margin: 1em 0;
  padding: 10px;
  border: 1px solid #d32f2f;
  background-color: #ffebee;
  border-radius: 5px;
}

.warning-fold > summary {
  cursor: pointer;
  font-weight: bold;
  color: #d32f2f !important;
}

.warning-fold[open] > summary {
  background-color: #ffebee !important;
  color: #b71c1c !important;
}

.warning-fold > div {
  margin-top: 10px;
  color: #b71c1c;
}

.warning-fold summary::marker {
  content: "➕ ";
  font-size: 1.2em;
}

.warning-fold[open] summary::marker {
  content: "➖ ";
  font-size: 1.2em;
}

pre.shiki {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre;
    scrollbar-width: thin;
    scrollbar-color: #c0c4cc #f5f5f5;
}

pre.shiki::-webkit-scrollbar {
    height: 8px;
}

pre.shiki::-webkit-scrollbar-thumb {
    background: #c0c4cc;
    border-radius: 4px;
}

pre.shiki::-webkit-scrollbar-thumb:hover {
    background: #a0a4ac;
}

pre.shiki::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 4px;
}

pre.shiki code {
    counter-reset: codeblock-line;
    padding: 0;
}

pre.shiki ::selection {
    background: #ffebee;
    color: inherit;
}

pre.shiki ::-webkit-selection {
    background: #ffebee;
    color: inherit;
}

pre.shiki ::-moz-selection {
    background: #ffebee;
    color: inherit;
}

pre.shiki code .line {
    counter-increment: codeblock-line;
    white-space: pre
}

pre.shiki code .line::before {
    content: counter(codeblock-line);
    display: inline-block;
    padding-right: 15px;
    width: 45px;
    color: #999;
    text-align: right;
}

pre.shiki code .line.marked {
    background-color: #65758529;
    width: 100%;
    display: inline-block;
}

html.theme-light {
  .shiki,
  .shiki span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
  }
}

html.theme-dark {
  .shiki,
  .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}
